In [1]:
import pandas as pd

In [2]:
# import Chicagos data
chicago = pd.read_csv(r'..\Project1\Data\Crimes_-_2001_to_Present.csv')
chicago.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,-87.670000,"(41.815117282, -87.669999562)",29.0,14924.0,59.0,706.0,3.0,37.0,23.0,108.0
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,-87.765400,"(41.895080471, -87.765400451)",4.0,4299.0,26.0,562.0,45.0,5.0,25.0,67.0
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,-87.716650,"(41.937405765, -87.716649687)",15.0,21538.0,22.0,216.0,12.0,39.0,7.0,168.0
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,-87.755121,"(41.881903443, -87.755121152)",11.0,22216.0,26.0,696.0,23.0,32.0,25.0,81.0

In [3]:
# Ensure all 7m records found
print(len(chicago.index))

7471955

In [4]:
# Filter for thefts on the porch
df_chicago_porch_pirates = chicago[(chicago["Primary Type"]=="THEFT") & (chicago["Location Description"]=="RESIDENCE PORCH/HALLWAY")]
df_chicago_porch_pirates.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats
729,10225608,HY412877,09/06/2015 12:20:00 PM,024XX W LITHUANIAN PLAZA CT,0820,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,...,-87.684976,"(41.768308395, -87.684976205)",44.0,21867.0,64.0,383.0,31.0,58.0,13.0,207.0
1159,10226095,HY413480,09/04/2015 08:00:00 AM,030XX N HAMLIN AVE,0820,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,...,-87.721462,"(41.936084101, -87.721462368)",27.0,21538.0,22.0,215.0,21.0,39.0,6.0,175.0
1359,11243511,JB168893,02/20/2018 04:21:00 PM,005XX W ARLINGTON PL,0820,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1390,10226388,HY413849,08/18/2015 10:00:00 AM,063XX S RACINE AVE,0820,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,...,-87.654484,"(41.778821299, -87.654483974)",19.0,22257.0,65.0,21.0,2.0,23.0,17.0,203.0
1559,10226571,HY412905,09/06/2015 03:30:00 PM,027XX N CLARK ST,0820,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,...,-87.644367,"(41.931495367, -87.644367168)",51.0,21190.0,68.0,794.0,34.0,16.0,5.0,178.0

In [5]:
# import Philies data
philly = pd.read_csv (r'..\Project1\Data\incidents_part1_part2.csv')
philly.head()

,the_geom,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour_,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000EA77405D0DC952C016F8ED98F8FA...,0101000020110F000080BB90BAA8E85FC1EC88B8A8528A...,107,6,1,2013-05-28 09:43:00,2013-05-28,09:43:00,9.0,201306025636,N 02ND ST / SPRING GARDEN ST,600,Thefts,-75.141441,39.960712,39.960712,-75.141441
1,0101000020E6100000EA77405D0DC952C016F8ED98F8FA...,0101000020110F000080BB90BAA8E85FC1EC88B8A8528A...,108,6,1,2013-11-26 10:24:00,2013-11-26,10:24:00,10.0,201306061456,N 02ND ST / SPRING GARDEN ST,300,Robbery No Firearm,-75.141441,39.960712,39.960712,-75.141441
2,0101000020E6100000EA77405D0DC952C016F8ED98F8FA...,0101000020110F000080BB90BAA8E85FC1EC88B8A8528A...,109,6,1,2013-12-16 13:10:00,2013-12-16,13:10:00,13.0,201306064336,N 02ND ST / SPRING GARDEN ST,600,Thefts,-75.141441,39.960712,39.960712,-75.141441
3,0101000020E6100000EA77405D0DC952C016F8ED98F8FA...,0101000020110F000080BB90BAA8E85FC1EC88B8A8528A...,110,6,1,2014-01-27 13:12:00,2014-01-27,13:12:00,13.0,201406003790,N 02ND ST / SPRING GARDEN ST,600,Thefts,-75.141441,39.960712,39.960712,-75.141441
4,0101000020E6100000FB79CF5866C552C0942E81847604...,0101000020110F0000A78BF98174E25FC145F74595D894...,111,2,1,2011-09-08 11:27:00,2011-09-08,11:27:00,11.0,201102059237,5900 BLOCK LORETTO AVE,500,Burglary Residential,-75.084372,40.034867,40.034867,-75.084372

In [6]:
# Filter for thefts on the porch
df_philly_theft = philly[(philly["text_general_code"]=="Thefts") | (philly["text_general_code"]=="Theft from Vehicle")]
df_philly_theft.head()

,the_geom,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour_,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E6100000EA77405D0DC952C016F8ED98F8FA...,0101000020110F000080BB90BAA8E85FC1EC88B8A8528A...,107,6,1,2013-05-28 09:43:00,2013-05-28,09:43:00,9.0,201306025636,N 02ND ST / SPRING GARDEN ST,600,Thefts,-75.141441,39.960712,39.960712,-75.141441
2,0101000020E6100000EA77405D0DC952C016F8ED98F8FA...,0101000020110F000080BB90BAA8E85FC1EC88B8A8528A...,109,6,1,2013-12-16 13:10:00,2013-12-16,13:10:00,13.0,201306064336,N 02ND ST / SPRING GARDEN ST,600,Thefts,-75.141441,39.960712,39.960712,-75.141441
3,0101000020E6100000EA77405D0DC952C016F8ED98F8FA...,0101000020110F000080BB90BAA8E85FC1EC88B8A8528A...,110,6,1,2014-01-27 13:12:00,2014-01-27,13:12:00,13.0,201406003790,N 02ND ST / SPRING GARDEN ST,600,Thefts,-75.141441,39.960712,39.960712,-75.141441
7,0101000020E61000002FD31F2F1ECE52C07129BE0C0CF5...,0101000020110F0000401FFA8143F15FC1160AD2D2C283...,114,12,E,2007-01-25 22:00:00,2007-01-25,22:00:00,22.0,200712007701,6600 BLOCK ESSINGTON AV,600,Thefts,-75.220592,39.914430,39.914430,-75.220592
10,0101000020E61000002FD31F2F1ECE52C07129BE0C0CF5...,0101000020110F0000401FFA8143F15FC1160AD2D2C283...,117,12,1,2018-01-06 10:56:00,2018-01-06,10:56:00,10.0,201812001185,6600 BLOCK ESSINGTON AVE,600,Thefts,-75.220592,39.914430,39.914430,-75.220592

In [8]:
# import Chicagos data
san_fran= pd.read_csv(r'..\Project1\Data\Police_Department_Calls_for_Service.csv')
san_fran.head()

,Crime Id,Original Crime Type Name,Report Date,Call Date,Offense Date,Call Time,Call Date Time,Disposition,Address,City,State,Agency Id,Address Type,Common Location
0,161080584,Poss,04/17/2016,04/17/2016,04/17/2016,05:23,04/17/2016 05:23:00 AM,NOM,0 Block Of Evelyn Wy,San Francisco,CA,1,Premise Address,NaN
1,190123549,Rep,01/12/2019,01/12/2019,01/12/2019,20:36,01/12/2019 08:36:00 PM,HAN,600 Block Of Eddy St,San Francisco,CA,1,Premise Address,NaN
2,161100690,911,04/19/2016,04/19/2016,04/19/2016,07:45,04/19/2016 07:45:00 AM,ADV,1700 Block Of Jerrold Av,San Francisco,CA,1,Premise Address,NaN
3,193040567,Traf Violation Cite,10/31/2019,10/31/2019,10/31/2019,07:34,10/31/2019 07:34:00 AM,GOA,2400 Block Of Phelps St,San Francisco,CA,1,Premise Address,NaN
4,193041338,Traf Violation Cite,10/31/2019,10/31/2019,10/31/2019,10:35,10/31/2019 10:35:00 AM,GOA,1400 Block Of Carroll Av,San Francisco,CA,1,Premise Address,NaN

In [9]:
san_fran.count()

Crime Id                    4431875
Original Crime Type Name    4431875
Report Date                 4431875
Call Date                   4431875
Offense Date                4431875
Call Time                   4431875
Call Date Time              4431875
Disposition                 4431875
Address                     4431875
City                        4328590
State                       4431875
Agency Id                   4431875
Address Type                4431875
Common Location              505387
dtype: int64